body {
    background: #f5f5f5 !important;
}

#content {
    background: #f5f5f5;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
}

#search_form {
    position: fixed;
    margin: 1em;
}